<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowUnactivatedService</key>
	<true/>
	<key>Label</key>
	<string>com.apple.afc2</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/afc2d</string>
	</array>
	<key>USBOnlyService</key>
	<true/>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>
